body{
	background-image: url("../Images/fundotile.png");
	background-color: #FFF8DC;
	background-clip: border-box;
	background-attachment: scroll;
}
div.tela input{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #808080;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #FFF8DC;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1); 
	text-align: center;
	display: block;
	max-width: 400px;
	margin: 10% auto;
}
#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
    max-width: 300px;
}
#logoresto {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 200px;
    height: 200px;
}
/* DANIEL:BEGIN */
div.botoes {
	display: flex;
	flex-direction: column;
	padding-top: 5vw
}

div.botoes.inline {
	flex-direction: row;
	justify-content: space-around;
}
/* DANIEL:END */
div.botoes button{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #770000;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #FFF8DC;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1); 
	display: block;
    max-width: 400px;
}
#botoes1{
	margin: auto;
	max-width: 400px;
}
div.imagens img{
	width: 75%;
	height: 75%;
	border:4px solid #000000;
	border-bottom-style: solid;
	border-radius: 10px;
	margin-left: 10%;
	max-width: 300px;
}
#disab{
	display:none;
}
#tela2{
	display: none;
}
h1{
	max-width: 500px;
    margin: 15px auto;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #770000;
	font-weight: 100 bold;
    line-height: 25px;
	background-color: white;
	border-radius: 10px;
	border: 3px solid #FFF8DC;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	padding: 10px 20px;
}
.selecionado img {
	border: 4px solid red !important;
}

html body table{
	display: flex;
	align-items: center;
	justify-content: center;
}
#botoes2 button{
	width: 40%;
	max-width: 200px;
}
#proximo{
	float: right;
	margin-bottom: 2%;
}
#voltar{
	float: left;
	margin-bottom: 2%;
	max-width: 200px;	
}
#tela3{
	display: none;
}
#botoes3 button{
	float: center;
	width: 40%;
}
#sim{
	margin: 35% auto 5% auto;
}
#nao{
	margin: auto;
}
#tela4{
	display: none;
}
#iv{
	width: 25% !important;
}
#tela5{
	display: none;
}
div.info p{
	text-align: justify;
	color:#000000;
	font-weight: 100;
    line-height: 30px;
}
div.info, h2{
	max-width: 500px;
    margin: 15px auto;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #808080;
	background-color: white;
	border-radius: 10px;
	border: 3px solid #FFF8DC;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	padding: 10px 20px;
}
.lugar img{
	width: 300%;
	height: 300%;
	border:4px solid #000000;
	border-bottom-style: solid;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
}
  div.more{
	  display: none;
	  margin-top:5%;
  }
  #int, #alo, #mon{
	width: 10%;
	height: 10%;
	}
	#alo p{
		text-align: center !important;
	}
div.formImagem{
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: auto;
		text-align:center;
}
div.formImagem input{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #770000;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #FFF8DC;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1); 
	text-align: center;
	max-width: 400px;
	margin: 20px auto;
}
/*div.formImagem h1{
	max-width: 500px;
    margin: 15px auto;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #770000;
	font-weight: 100 bold;
    line-height: 25px;
	background-color: white;
	border-radius: 10px;
	border: 3px solid #FFF8DC;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	padding: 10px 20px;
}*/

div.formImagem{
	display:none;
}